body, html {
	margin: 0;
	padding: 0;
}
#wrapper {
	width: 400px;
	margin: 0 auto;
	padding-bottom: 50px;
}
h1 {
	text-align: center;
}
form#login {
	margin: 40px 0;
	text-align: center;
}
#message_list {
	height: 400px;
	overflow-y: scroll;
}
article {
	padding: 0 20px;
	margin: 5px 0; 
	border: 2px solid #222;
	width: auto;
	display: inline-block;
	float: left;
}
article.current_user {
	float: right;
	border-color: green;
}
article h2 {
	font-size: 12px;
}
article h2, article p {
	margin: 0;
} 
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
textarea {
	width: 100%;
	height: 100px;
}
button[name="send"] {
	float: right;
}

#message {
	margin-bottom: 50px;
}