#wrapper {
	width: 800px;
	margin: 0 auto;

}

header {
	background: green;
	color: #FFF;
	height: 100px;
	border: 2px solid #222;
	position: relative;
}
header .logo {
	color: #FFF;
	margin: 30px;
	display: block;
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
}
header .logo span {
	font-weight: 100;
	color: yellow;
}
header button {
	position: absolute;
	bottom: 0;
	left: 0
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}